<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="description" content="Economics Calculator" />
  <title>Economics Calculator</title>
</head>
<body>
  <%= yield %>
	</body>
</html>


